<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/question.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="center">
        <div class="container">
            <h2>{{question}}</h2>
            <form action="/question/">
                {% for answer in answers %}
                    <div class="answer_row m5">
                        <input type="radio" name="answer_input" id="radio{{loop.index}}" value="{{answer}}">
                        <label for="radio{{loop.index}}">{{answer}}</label>
                    </div>
                {% endfor %}

                <input class="button" type="submit" value="Oтветить">

            </form>
        </div>
    </div>
</body>
</html>