<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
</head>
<body>
    <div class="center">
        <form action="/" method="post">
            <h2>Выберете квиз</h2>
            <div class="m5">
                <select name="quiz">
                    {% for q in quizzes %}
                        <option value="{{q.id}}">{{q.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="m5">
                <input type="submit" value="Начать КВИЗ">
            </div>
        </form>
    </div>
</body>
</html>